* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}
.btn {
  padding: 12px;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.75), 
  rgba(0, 0, 0, 0.75)), url("./images/tim-foster-o4mP43oPGHk-unsplash.jpg");
  background-size: contain;
  /* background: no-repeat; */
  height: 1200px;
  /* background-image: url("./images/tim-foster-o4mP43oPGHk-unsplash.jpg"); */
}



.feature-item img {
  width: 400px;
  height: 400px;
  border: 2px black solid;
  border-radius: 12px;
}